// crop-container 中水平虚线的间距 - 三等分平分容器高度
$horizontal-dotted-line-spacing: calc(100% / 3);

// crop-container 中垂直虚线的间距 - 三等分平分容器宽度
$vertical-dotted-line-spacing: calc(100% / 3);

.plasticine-cropper {
  position: relative;
  width: 100%;
  height: 100%;

  &-common-hidden {
    display: none;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: black;
    opacity: 0.2;
  }

  &__crop-container {
    position: relative;

    &--moveable {
      cursor: move;
    }
  }

  &__move-placeholder {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  &__dotted-line {
    position: absolute;
    display: block;
    border: 0 dotted #eee;
    opacity: 0.5;

    &--horizontal {
      top: $horizontal-dotted-line-spacing;
      left: 0;
      width: 100%;
      height: $horizontal-dotted-line-spacing;
      border-bottom-width: 3px;
      border-top-width: 3px;
    }

    &--vertical {
      top: 0;
      left: $vertical-dotted-line-spacing;
      width: $vertical-dotted-line-spacing;
      height: 100%;
      border-left-width: 3px;
      border-right-width: 3px;
    }
  }

  &__line {
    background: rgb(51, 153, 255);
    position: absolute;
    pointer-events: none;

    &--n {
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      cursor: ns-resize;
    }

    &--e {
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      cursor: ew-resize;
    }

    &--s {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      cursor: ns-resize;
    }

    &--w {
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      cursor: ew-resize;
    }

    &.plasticine-cropper__line--not-resizable {
      cursor: not-allowed;
    }
  }

  &__point {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(51, 153, 255);
    border-radius: 50%;

    &--n {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: ns-resize;
    }

    &--e {
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      cursor: ew-resize;
    }

    &--s {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      cursor: ns-resize;
    }

    &--w {
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      cursor: ew-resize;
    }

    &--ne {
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      cursor: nesw-resize;
    }

    &--nw {
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      cursor: nwse-resize;
    }

    &--sw {
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%);
      cursor: nesw-resize;
    }

    &--se {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
      cursor: nwse-resize;
    }

    &.plasticine-cropper__point--not-resizable {
      cursor: not-allowed;
    }
  }
}
